/* Main container. */

#main {
  position: absolute;
  top: 51px;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: auto;
}

/* Editor and preview panes. */

#editor-contents, #preview-contents {
  border: 0 none;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 50%;
  height: 100%;
}

#editor-contents {
  background-color: #fafafa;
  font: 14px/1.6 Consolas, Monaco, monospace;
  padding: 2.5%;
  resize: none;

  right: 50%;
}

#preview-contents {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);

  left: 50%;
}

/* Styles pane. */

#styles .modal-body {
  padding: 0;
}

#styles-contents {
  border: 0 none;
  font: 14px/1.6 Consolas, Monaco, monospace;
  padding: 2.5%;
  resize: none;

  width: 100%;
  height: 20em;
}
